* {
    font-family: Arial, Helvetica, sans-serif !important;
}

p {
    font-weight: 500 !important;
    font-size: 20pt;
}

h1 {
    font-weight: 800;
}
h2 {
    font-weight: 800;
}
h3 {
    font-weight: 800;
}
h4 {
    font-weight: 800;
}

.wrapperhead {
    border-bottom: 10px solid black;
    background: #ffffff;
    margin-top: 20px;
}
.wrapper {
    margin-top: 0px;
    background-image: url(/img/синий1488.svg);
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}


header nav {
    float: right;
    width: 50%;
}

header nav ul button li {
    display: flex;
    justify-content: space-between;
}

header nav ul button li a {
    color: #FFFFFF;
}



.button {/* логотип */
    margin-left: 5%;
    border-radius: 4px;
    background: none;
    border: none;
    color: #160D68;
    text-align: center;
    padding: 0px;
    width: 150px;
    transition: all 0.2s;
    cursor: pointer;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
  
.button span:after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    transform: scale(1.2);
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}











.material {            /*справочный материал*/
    letter-spacing: -0.03em;
    margin-left: 5%;
    margin-top: 0.366%;
    border-radius: 100px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18pt;
    padding: 0.366%;
    width: 25%;
    transition: all 0.3s;
    cursor: pointer;
}

.material li {
    z-index: 5;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
  
.material li:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}
  
.material:hover li {
    padding-right: 25px;
}
  
.material:hover li:after {
    opacity: 1;
    right: 0;
}

.author {                       /*автор*/
    letter-spacing: -0.03em;
    margin-left: 0;
    margin-top: -1.464%;
    border-radius: 100px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18pt;
    padding: 0.366%;
    width: 25%;
    transition: all 0.3s;
    cursor: pointer;
}
  
.author li {
    z-index: 5;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
  
.author li:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}
  
.author:hover li {
    padding-right: 25px;
}
  
.author:hover li:after {
    opacity: 1;
    right: 0;
}

.contacts {                /*контакты*/
    letter-spacing: -0.03em;
    margin-left: 0;
    margin-top: -1.464%;
    border-radius: 100px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18pt;
    padding: 0.366%;
    width: 25%;
    transition: all 0.3s;
    cursor: pointer;
}
  
.contacts li {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    z-index: 5;
}
  
.contacts li:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}
  
.contacts:hover li {
    padding-right: 25px;
}
  
.contacts:hover li:after {
    opacity: 1;
    right: 0;
}

.hero {
    padding-bottom: 0px;
}

.hero .info h1 {       /*героин*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    position: relative;
    z-index: 5;
    letter-spacing: -0.03em;
    margin-left: 9%;
    margin-top: 9.517%;
    font-size: 40pt;
    color: #ffffff;
}

.hero .info p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.03em;
    font-weight: 500;
    position: relative;
    z-index: 5;
    color: #FFFFFF;
    margin-left: 9%;
    margin-top: 1.318%;
    font-size: 16pt;
    line-height: 1em;
    width: 43.924%;
}

.hero .heroimg img {
    z-index: 4;
    position: relative;
    width: 650px;
    position: absolute;
    top: 0%;
    right: 11%;
}
.start a {
    color: #004ef5;
}
.start {                       /*старт*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800 !important;
    letter-spacing: -0.02em;
    margin-left: 9%;
    margin-top: 5.4%;
    border-radius: 10px;
    background-color: #FF8000;
    border: none;
    color: #004ef5;
    text-align: center;
    font-size: 24pt;
    padding: 10px;
    width: 18.302%;
    transition: all 0.3s;
    cursor: pointer;
}
  
.start li {
    z-index: 5;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
  
.start li:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}
  
.start:hover li {
    padding-right: 25px;
}
  
.start:hover li:after {
    opacity: 1;
    right: 0;
}



.whiteplace {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-top: -1.464%;
    font-size: 30pt;
    z-index: 5;
    position: relative;
    margin-right: 9%;
    letter-spacing: -0.02em;
    color: white;
    display: flex;
    justify-content: end;
}




header .heading h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: -0.03em;
    color: white;
    font-size: 40pt;
    margin-top: 8.333%;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .navigation a {
    color: white;
}

header .navigation{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    letter-spacing: -0.03em;
    margin-top: 12.5%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

header .navigation a {
    display: inline-block;
}

.navigation a:hover:not(.active) {
    border-bottom: 5px solid #FF8000;
    border-radius: 5px;
    padding-bottom: 5px;
}
.active {
    border-bottom: 5px solid #FF8000;
    border-radius: 5px;
    padding-bottom: 5px;
}
.langinfo {
    background: #FFFFFF;
    padding-top: 12%;
}

.langinfo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: -0.03em;
    font-size: 30pt;
    position: relative;
    z-index: 5;
    font-weight: bold;
    margin-left: 12%;
}

.langinfo p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 20pt;
    position: relative;
    z-index: 5;
    margin-top: 0%;
    margin-left: 12%;
    width: 500px;
    text-align: justify;
}

.langinfo a{
    font-weight: 800;
    color: #FF8000;
}

.langinfo .cimg img {
    z-index: 4;
    position: relative;
    width: 1050px;
    position: absolute;
    top: 75%;
    right: 6%;
}
.langinfoc h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    letter-spacing: -0.03em;
    margin-top: 4%;
    position: relative;
    z-index: 5;
    font-weight: 600;
    margin-left: 12%;
}
.langinfoc ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 20pt;
    position: relative;
    z-index: 5;
    margin-left: 12%;
    width: 1010px;
    text-align: justify;
    list-style: disc;
    list-style-position: inside;
}

.langinfoc ul {
    margin-bottom: 2%;
}
.langinfoc ul li a{
    font-weight: 800;
    color: #FF8000;
}

.langinfoc .guideforc h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    letter-spacing: -0.03em;
    margin-top: 0%;
    position: relative;
    z-index: 5;
    font-weight: 600;
    margin-left: 12%;
    margin-bottom: 0%;
}
.langinfoc .guideforc h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    letter-spacing: -0.03em;
    margin-top: 0%;
    position: relative;
    z-index: 5;
    font-weight: 500;
    margin-left: 12%;
}
.langinfoc .guideforc h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    letter-spacing: -0.03em;
    margin-top: 0%;
    position: relative;
    z-index: 5;
    font-weight: 600;
    margin-left: 12%;
}
.langinfoc .guideforc h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    letter-spacing: -0.03em;
    margin-top: 0%;
    position: relative;
    z-index: 5;
    font-weight: 600;
    margin-left: 12%;
}

.langinfoc .guideforc ul li a{
    color: #FF8000;
}
.langinfoc .guideforc ul {
    margin-bottom: 0%;
}
.langinfoc .guideforc ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20pt;
    letter-spacing: -0.03em;
    position: relative;
    z-index: 5;
    margin-left: 12%;
    width: 1100px;
    text-align: justify;
    list-style: none !important;
    list-style-position: inside;
}

.langinfoc .memc img {
    z-index: 4;
    position: relative;
    position: absolute;
    width: 900px;
    left: 20%;
    top: 260%;
}
.langinfo .guideforc {
    padding-bottom: 470px;
}

.htmlcss {
    background: #FFFFFF;
}

.htmlcss img{
    position: relative;
    position: absolute;
    right: 9%;
    top: 355%;
    width: 500px;
}
.htmlcss h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    letter-spacing: -0.03em;
    padding-top: 12%;
    padding-bottom: 1%;
    font-weight: 800;
    color: rgb(0, 0, 0);
    margin-left: 12%;
}

.htmlcss p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20pt;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-left: 12%;
    width: 600px;
    text-align: justify;
}

.htmlcss p a{
    font-weight: 800 !important;
    color: #FF8000;
}

.htmlcss h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    padding-top: 2%;
    letter-spacing: -0.03em;
    padding-bottom: 1%;
    font-weight: 800;
    color: rgb(0, 0, 0);
    margin-left: 12%;
}

#p2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20pt;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-left: 12%;
    width: 1000px;
    text-align: justify;
}


.infohtml h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    padding-top: 2%;
    letter-spacing: -0.03em;
    padding-bottom: 0;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-left: 12%;
}

.infohtml ul li a{
    font-weight: 800;
    color: #FF8000;
}

.infohtml ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20pt;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-left: 12%;
    padding-bottom: 10%;
    width: 1100px;
    text-align: justify;
}

.linux {
    background: white;
    padding-top: 12%;
}

.linux h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    padding-top: 2%;
    letter-spacing: -0.03em;
    padding-bottom: 0;
    font-weight: 600;
    color: black;
    margin-left: 12%;
}


